In [1]:
#importing necessary libraries
import numpy as np
import pandas as pd

In [2]:
# importing dataset iris.data

df = pd.read_csv("iris.data" , header = None)

In [3]:
df.head()

#we can see that there are no names of the columns in the dataset 
# so let us provide names to the dataset for understanding

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [4]:
names = ["sepal length" , "sepal width" , "petal length" , "petal width" , "class" ]
df = pd.read_csv("iris.data" , names = names )

In [5]:
df.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [6]:
df.info()
'''The dataset contains the 'class' values in text format
and hence we need to change it to numerical values'''

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal length  150 non-null    float64
 1   sepal width   150 non-null    float64
 2   petal length  150 non-null    float64
 3   petal width   150 non-null    float64
 4   class         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

"The dataset contains the 'class' values in text format\nand hence we need to change it to numerical values"

In [7]:
df["class"].value_counts()

Iris-virginica     50
Iris-versicolor    50
Iris-setosa        50
Name: class, dtype: int64

In [8]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

df['class'] = le.fit_transform(df['class'])

In [9]:
'''Labels encoded in aphabetical order
   Iris-virginica  :  2
   Iris-versicolor :  1
   Iris-setosa     :  0 '''
df

     sepal length  sepal width  petal length  petal width  class
0             5.1          3.5           1.4          0.2      0
1             4.9          3.0           1.4          0.2      0
2             4.7          3.2           1.3          0.2      0
3             4.6          3.1           1.5          0.2      0
4             5.0          3.6           1.4          0.2      0
..            ...          ...           ...          ...    ...
145           6.7          3.0           5.2          2.3      2
146           6.3          2.5           5.0          1.9      2
147           6.5          3.0           5.2          2.0      2
148           6.2          3.4           5.4          2.3      2
149           5.9          3.0           5.1          1.8      2

[150 rows x 5 columns]

In [14]:
# Now dividing the dataset into X and Y(inputs and outputs)

X = df.drop(["class"] , axis = 1)
y = df["class"]

In [15]:
#train and test split of dataset

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=4,test_size=0.20)

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(120, 4)
(30, 4)
(120,)
(30,)

In [16]:
from sklearn.preprocessing import StandardScaler

In [17]:
ss = StandardScaler()

X_train = ss.fit_transform(X_train)

In [20]:
X_train

array([[-0.59919456, -0.11866664,  0.36009734,  0.31743078],
       [-1.57913797,  0.36404513, -1.47491924, -1.43236433],
       [ 0.99321348, -1.32544606,  1.12962042,  0.72122965],
       [-1.2116592 , -0.11866664, -1.47491924, -1.43236433],
       [-1.08916627, -1.80815783, -0.35023166, -0.35556734],
       [ 0.99321348,  0.60540101,  1.07042634,  1.66342702],
       [ 1.60567811,  0.36404513,  1.24800859,  0.72122965],
       [-0.10922286, -1.08409018,  0.06412692, -0.08636809],
       [ 0.99321348,  0.12268924,  0.47848551,  0.31743078],
       [-0.96667334,  1.81218043, -1.35653108, -1.43236433],
       [ 2.21814274, -0.11866664,  1.30720267,  1.39422777],
       [-1.08916627,  0.84675689, -1.41572516, -1.43236433],
       [ 0.99321348,  0.12268924,  0.30090326,  0.18283116],
       [-0.59919456,  1.57082455, -1.41572516, -1.43236433],
       [ 0.6257347 , -0.60137841,  1.01123226,  1.25962815],
       [-1.94661675, -0.11866664, -1.65250149, -1.56696396],
       [-0.23171579,  3.26031574, -1.41572516, -1.16316509],
       [ 0.01327007, -0.11866664,  0.18251509,  0.31743078],
       [ 0.25825592, -0.11866664,  0.41929142,  0.18283116],
       [ 0.74822762, -0.11866664,  0.95203817,  0.72122965],
       [-0.84418042,  1.08811278, -1.41572516, -1.43236433],
       [-0.35420871, -1.32544606,  0.00493284, -0.22096772],
       [ 2.21814274, -1.08409018,  1.78075534,  1.39422777],
       [ 0.50324177,  0.84675689,  1.01123226,  1.5288274 ],
       [ 0.38074885, -0.36002253,  0.24170917,  0.04823153],
       [-0.23171579, -0.36002253,  0.18251509,  0.04823153],
       [-1.08916627,  1.08811278, -1.35653108, -0.89396584],
       [-0.35420871, -0.36002253, -0.17264941,  0.04823153],
       [ 0.13576299, -2.04951372,  0.65606776,  0.31743078],
       [-0.47670164, -1.08409018,  0.30090326, -0.08636809],
       [-1.57913797,  0.84675689, -1.47491924, -1.29776471],
       [-0.35420871, -0.11866664,  0.12332101,  0.04823153],
       [-0.96667334,  0.84675689, -1.41572516, -1.43236433],
       [ 0.6257347 , -0.36002253,  0.24170917,  0.04823153],
       [ 1.1157064 , -0.11866664,  0.95203817,  1.12502853],
       [ 0.99321348, -0.11866664,  0.65606776,  0.58663003],
       [ 0.74822762,  0.36404513,  0.71526184,  0.9904289 ],
       [ 0.13576299,  0.84675689,  0.36009734,  0.4520304 ],
       [-1.2116592 ,  0.12268924, -1.41572516, -1.56696396],
       [-1.2116592 , -1.32544606,  0.36009734,  0.58663003],
       [ 1.23819933,  0.36404513,  1.07042634,  1.39422777],
       [-0.59919456,  0.84675689, -1.41572516, -1.16316509],
       [-0.47670164, -1.56680195, -0.05426124, -0.22096772],
       [ 0.50324177,  0.60540101,  1.24800859,  1.66342702],
       [-1.08916627,  1.32946866, -1.47491924, -1.43236433],
       [ 0.25825592, -0.11866664,  0.59687367,  0.72122965],
       [ 0.74822762, -0.60137841,  0.41929142,  0.31743078],
       [ 0.01327007, -0.11866664,  0.71526184,  0.72122965],
       [ 0.50324177, -1.32544606,  0.59687367,  0.31743078],
       [-1.2116592 ,  0.12268924, -1.41572516, -1.56696396],
       [ 0.25825592, -1.08409018,  1.01123226,  0.18283116],
       [ 0.6257347 ,  0.36404513,  0.36009734,  0.31743078],
       [ 1.48318518, -0.11866664,  1.18881451,  1.12502853],
       [-0.47670164,  1.08811278, -1.53411333, -1.43236433],
       [ 0.6257347 , -0.8427343 ,  0.83365001,  0.85582928],
       [-0.47670164, -1.80815783,  0.06412692,  0.04823153],
       [ 1.23819933,  0.12268924,  0.89284409,  1.12502853],
       [-0.10922286, -0.8427343 ,  0.00493284, -0.08636809],
       [-0.10922286, -0.8427343 ,  0.71526184,  0.85582928],
       [ 0.25825592, -0.60137841,  0.06412692,  0.04823153],
       [ 0.01327007,  0.36404513,  0.53767959,  0.72122965],
       [ 0.38074885,  0.84675689,  0.89284409,  1.39422777],
       [-0.23171579, -0.60137841,  0.12332101,  0.04823153],
       [ 0.87072055, -0.11866664,  0.30090326,  0.18283116],
       [-0.10922286, -0.60137841,  0.71526184,  1.5288274 ],
       [ 0.13576299, -2.04951372,  0.06412692, -0.35556734],
       [-0.10922286, -0.8427343 ,  0.12332101, -0.35556734],
       [-1.57913797,  1.32946866, -1.71169558, -1.43236433],
       [ 0.99321348,  0.12268924,  1.01123226,  1.5288274 ],
       [-0.96667334,  0.60540101, -1.29733699, -1.02856546],
       [ 1.1157064 , -0.60137841,  0.53767959,  0.18283116],
       [-0.72168749,  1.57082455, -1.41572516, -1.43236433],
       [-0.84418042, -0.8427343 ,  0.00493284,  0.18283116],
       [ 0.25825592, -0.60137841,  0.47848551, -0.08636809],
       [-0.47670164, -1.32544606,  0.06412692,  0.04823153],
       [-0.47670164, -1.56680195, -0.11345533, -0.35556734],
       [-0.96667334,  1.08811278, -1.47491924, -1.29776471],
       [ 0.99321348, -0.11866664,  0.77445592,  1.39422777],
       [ 0.13576299, -0.11866664,  0.53767959,  0.72122965],
       [-0.23171579, -0.11866664,  0.18251509, -0.08636809],
       [-0.96667334, -1.32544606, -0.52781391, -0.22096772],
       [-0.23171579, -1.08409018, -0.23184349, -0.35556734],
       [-1.57913797,  0.12268924, -1.41572516, -1.43236433],
       [-0.84418042,  0.84675689, -1.47491924, -1.43236433],
       [ 1.23819933,  0.12268924,  0.71526184,  1.39422777],
       [-0.35420871, -0.60137841,  0.59687367,  0.9904289 ],
       [-0.47670164,  2.77760397, -1.47491924, -1.43236433],
       [-1.33415212, -0.11866664, -1.47491924, -1.29776471],
       [-1.82412383,  0.36404513, -1.53411333, -1.43236433],
       [ 0.6257347 ,  0.36404513,  0.83365001,  1.39422777],
       [-1.08916627,  1.08811278, -1.53411333, -1.29776471],
       [-0.84418042,  2.53624808, -1.41572516, -1.56696396],
       [ 0.50324177, -1.32544606,  0.65606776,  0.85582928],
       [ 1.1157064 ,  0.36404513,  1.18881451,  1.39422777],
       [-0.35420871, -0.11866664,  0.36009734,  0.31743078],
       [-1.08916627,  0.60540101, -1.47491924, -1.43236433],
       [-1.82412383, -0.36002253, -1.47491924, -1.43236433],
       [-1.33415212,  0.12268924, -1.35653108, -1.43236433],
       [ 2.21814274,  1.81218043,  1.66236717,  1.25962815],
       [ 0.50324177,  0.60540101,  0.47848551,  0.4520304 ],
       [-0.96667334,  1.57082455, -1.41572516, -1.16316509],
       [-0.96667334,  1.08811278, -1.47491924, -1.43236433],
       [ 2.46312859,  1.81218043,  1.48478492,  0.9904289 ],
       [ 1.23819933,  0.12268924,  0.59687367,  0.31743078],
       [ 0.38074885, -0.60137841,  0.53767959,  0.72122965],
       [-1.82412383, -0.11866664, -1.53411333, -1.43236433],
       [-0.96667334,  1.81218043, -1.17894883, -1.16316509],
       [ 0.74822762, -0.11866664,  0.77445592,  0.9904289 ],
       [-1.2116592 , -1.56680195, -0.35023166, -0.35556734],
       [-0.23171579, -0.60137841,  0.36009734,  0.04823153],
       [-0.35420871, -0.8427343 ,  0.18251509,  0.04823153],
       [ 1.60567811,  1.32946866,  1.30720267,  1.66342702],
       [ 0.50324177, -0.36002253,  1.01123226,  0.72122965],
       [ 0.87072055, -0.36002253,  0.41929142,  0.04823153],
       [ 0.6257347 ,  0.12268924,  0.95203817,  0.72122965],
       [ 1.36069226,  0.36404513,  0.47848551,  0.18283116],
       [ 0.50324177, -1.80815783,  0.30090326,  0.04823153],
       [ 0.74822762, -0.11866664,  1.12962042,  1.25962815],
       [ 1.60567811, -0.11866664,  1.12962042,  0.4520304 ],
       [ 2.21814274, -0.60137841,  1.66236717,  0.9904289 ]])