In [45]:
import pandas as pd
import numpy as np

In [46]:
df=pd.read_csv("Data_NB.csv")

In [47]:
df.head()

    Outlook Temperature Humidity  Windy Play Golf
0     Rainy         Hot     High  False        No
1     Rainy         Hot     High   True        No
2  Overcast         Hot     High  False       Yes
3     Sunny        Mild     High  False       Yes
4     Sunny        Cool   Normal  False       Yes

In [48]:
df.shape

(14, 5)

In [49]:
df.info

<bound method DataFrame.info of      Outlook Temperature Humidity  Windy Play Golf
0      Rainy         Hot     High  False        No
1      Rainy         Hot     High   True        No
2   Overcast         Hot     High  False       Yes
3      Sunny        Mild     High  False       Yes
4      Sunny        Cool   Normal  False       Yes
5      Sunny        Cool   Normal   True        No
6   Overcast        Cool   Normal   True       Yes
7      Rainy        Mild     High  False        No
8      Rainy        Cool   Normal  False       Yes
9      Sunny        Mild   Normal  False       Yes
10     Rainy        Mild   Normal   True       Yes
11  Overcast        Mild     High   True       Yes
12  Overcast         Hot   Normal  False       Yes
13     Sunny        Mild     High   True        No>

In [50]:
from sklearn.preprocessing import LabelEncoder

In [51]:
le=LabelEncoder()
df["Windy"]=le.fit_transform(df["Windy"])

In [52]:
df["Windy"].value_counts()

0    8
1    6
Name: Windy, dtype: int64

In [53]:
df.head()

    Outlook Temperature Humidity  Windy Play Golf
0     Rainy         Hot     High      0        No
1     Rainy         Hot     High      1        No
2  Overcast         Hot     High      0       Yes
3     Sunny        Mild     High      0       Yes
4     Sunny        Cool   Normal      0       Yes

In [54]:
le=LabelEncoder()
df["Humidity"]=le.fit_transform(df["Humidity"])

In [55]:
df["Humidity"].value_counts()

1    7
0    7
Name: Humidity, dtype: int64

In [56]:
df.head()

    Outlook Temperature  Humidity  Windy Play Golf
0     Rainy         Hot         0      0        No
1     Rainy         Hot         0      1        No
2  Overcast         Hot         0      0       Yes
3     Sunny        Mild         0      0       Yes
4     Sunny        Cool         1      0       Yes

In [57]:
le=LabelEncoder()
df["Play Golf"]=le.fit_transform(df["Play Golf"])

In [58]:
df["Play Golf"].value_counts()

1    9
0    5
Name: Play Golf, dtype: int64

In [59]:
df.head()

    Outlook Temperature  Humidity  Windy  Play Golf
0     Rainy         Hot         0      0          0
1     Rainy         Hot         0      1          0
2  Overcast         Hot         0      0          1
3     Sunny        Mild         0      0          1
4     Sunny        Cool         1      0          1

In [60]:
le=LabelEncoder()
df["Temperature"]=le.fit_transform(df["Temperature"])
df["Temperature"].value_counts()

2    6
1    4
0    4
Name: Temperature, dtype: int64

In [61]:
df.head()

    Outlook  Temperature  Humidity  Windy  Play Golf
0     Rainy            1         0      0          0
1     Rainy            1         0      1          0
2  Overcast            1         0      0          1
3     Sunny            2         0      0          1
4     Sunny            0         1      0          1

In [62]:
le=LabelEncoder()
df["Outlook"]=le.fit_transform(df["Outlook"])
df["Outlook"].value_counts()

2    5
1    5
0    4
Name: Outlook, dtype: int64

In [63]:
df.head()

   Outlook  Temperature  Humidity  Windy  Play Golf
0        1            1         0      0          0
1        1            1         0      1          0
2        0            1         0      0          1
3        2            2         0      0          1
4        2            0         1      0          1

In [64]:
df.shape

(14, 5)

In [65]:
X =df.drop(['Outlook','Temperature','Humidity','Windy'] , axis=1)
y = df['Play Golf']

from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(X , y , random_state = 1 , test_size = 0.20)
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(11, 1)
(11,)
(3, 1)
(3,)

In [66]:
from sklearn.svm import SVC

svc = SVC(C=1.0,
            kernel='rbf',
            degree=3,
            gamma='auto',
            coef0=0.0,
            shrinking=True,
            probability=False,
            tol=0.001,
            cache_size=200,
            class_weight=None,
            verbose=False,
            max_iter=-1,
            decision_function_shape='ovo',
            break_ties=False,
            random_state=None,)

In [67]:
svc.fit(x_train , y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovo', degree=3, gamma='auto', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [68]:
import matplotlib.pyplot as plt
%matplotlib inline

In [69]:
from sklearn.metrics import confusion_matrix , accuracy_score
print(confusion_matrix(y_train , svc.predict(x_train)))
print(accuracy_score(y_train , svc.predict(x_train)))

[[4 0]
 [0 7]]
1.0

In [70]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()

In [71]:
nb.fit(x_train , y_train )

GaussianNB(priors=None, var_smoothing=1e-09)

In [72]:
print((nb.predict(x_train)!= y_train).sum())

0

In [73]:
from sklearn.metrics import confusion_matrix , accuracy_score
print(confusion_matrix(y_train , nb.predict(x_train)))
print(accuracy_score(y_train , nb.predict(x_train)))

[[4 0]
 [0 7]]
1.0